// Typography
$font-family: 'Lato', sans-serif;
$font-family-sans-serif: $font-family;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

* {
    font-family: $font-family;
}

$white: #ffffff;

$theme-colors: (
    "light":      #f2e0d3,
    "dark":       #1d191b,
    "primary":    #712d2a,
    "secondary":  #cb4937,
    "info":       #e87d66,
    "accent1":    #6f3e35,
    "accent2":    #b3705d,
    "accent3":    #c0b0a9,
    "success":    #62a32a,
    "warning":    #fdc06f,
    "danger":     #ee1867,
);
